@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root{
    --primary-color: #ff3c31;
    --text-color: #080808;
    --bg-color: #f2f3f4;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
    color: var(--text-color);
}

@keyframes slideDownLine{
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
    5% {
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }
    35%{
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        opacity: 1;
    }
    40%{
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    70%{
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    75%{
        -webkit-transform: translateY(-100%);
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
}


.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 32px;
}



