body.navbar-on-scroll{
    background-color: var(--bg-color);
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: var(--bg-color);
}

.header-wrap{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 16px 32px;
}

.logo__link{
    display: block;
    width: 134px;
}

.header__nav{
    display: flex;
    align-items: center;
}

.header__nav-list{
    display: none;
    margin: 0 0 0 100px;
    padding: 0;
}

.header__nav-item{
    display: inline-flex;
    margin-right: 20px;
}

.header__nav-link{
    text-decoration: none;
    position: relative;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
}

.header__nav-link::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: calc(100% + 6px);
    width: 100%;
    height: 1px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .7s cubic-bezier(0.19, 1, 0.22, 1);
}

.header__nav-link:hover::after{
    transform: scaleX(1);
    transform-origin: left center;  
}

.logo-wrap{
    position: relative;
    overflow: hidden;
}

.logo-wrap svg{
    position: relative;
    overflow: hidden;
}

.logo-wrap::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right center;
    left: 0; 
    top: 0;
    background-color: #000;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.logo-wrap svg path{
    position: relative;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.logo-wrap:hover::before{
    transform: scaleX(0.72);
    transition-delay: .5s;
}

.logo-wrap:hover path:nth-child(6){
    transform: translateX(-39%);
    transition-delay: 0.2s;
}

.logo-wrap svg:hover path:nth-child(2),
.logo-wrap svg:hover path:nth-child(3),
.logo-wrap svg:hover path:nth-child(4),
.logo-wrap svg:hover path:nth-child(5),
.logo-wrap svg:hover path:nth-child(7),
.logo-wrap svg:hover path:nth-child(8),
.logo-wrap svg:hover path:nth-child(9),
.logo-wrap svg:hover path:nth-child(10),
.logo-wrap svg:hover path:nth-child(11){
    transform: translateY(100%);
}

.header__right-wrap{
    display: flex;
}

.header__contact-link{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 6px 10px;
    color: var(--text-color);
}

.header__contact-content{
    position: relative;
    transform: translateX(0);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    line-height: unset;
}

.header__contact-link:hover .header__contact-content{
    transform: translateX(-1.3em);
}

.header__contact-link::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 20px;
    transition: width 1s cubic-bezier(0.19, 1, 0.22, 1),
                border-color 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s,
                background-color 1s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.header__contact-link:hover::before{
    width: 1.6em;
    transform-origin: left center;
    background-color: #ff3c31;
    border-color: #ff3c31;
}

.header__contact-link::after{
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0.45em;
    right: 0.48em;
    background-repeat: no-repeat; 
}

.header__contact-link:hover::after{
    background-image: url(../img/Arrow.svg);
}

.header__menu-mobile{
    position: relative;
    display: none;
    height: 24px;
    width: 24px;
    margin-left: 1.5em;
}

.menu-mobile__bar1{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    margin: auto;
    background-color: #080808;
    -webkit-transform: translate(0,-4px);
    -ms-transform: translate(0,-4px);
    transform: translate(0,-4px);
    transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-mobile__bar2{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    height: 2px;
    margin: auto;
    transform-origin: right center;
    background-color: #080808;
    -webkit-transform: translate(0,4px);
    -ms-transform: translate(0,4px);
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);   
}

.header__menu-mobile.close-nav-mobile-list .menu-mobile__bar1{
    transform: translateY(0);
    transform: rotate(45deg);
    transform-origin: center;
}

.header__menu-mobile.close-nav-mobile-list .menu-mobile__bar2{
    transform: translateY(0);
    width: 100%;
    transform: rotate(-45deg);
    transform-origin: center;
}

.header-nav-mobile__list{
    position: absolute;
    top: 60px;
    height: calc(100vh - 60px);
    right: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 42px 14px 14px;
    margin: 0;
    list-style-type: none;
    transition: all 0.1s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: #fff;
}

.header-nav-mobile__list.hidden{
    display: none;
}

.header-nav-mobile__item{
    position: relative;
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

.header-nav-mobile__list.hidden .header-nav-mobile__item{
    opacity: 0;
    transform: translateY(-100%);
}

.header-nav-mobile__item:nth-child(1){
    transition: all 0.1s cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
}
.header-nav-mobile__item:nth-child(2){
    transition: all 0.1s cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
}
.header-nav-mobile__item:nth-child(3){
    transition: all 0.1s cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
}
.header-nav-mobile__item:nth-child(4){
    transition: all 0.1s cubic-bezier(0.215, 0.610, 0.355, 1) 0.3s;
}
.header-nav-mobile__item:nth-child(5){
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1) 0.1s;
}
.header-nav-mobile__item:nth-child(6){
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1) 0.1s;
}

.header-nav-mobile__link{
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text-color);
    text-transform: uppercase;
    padding-top: 17px;
    margin-top: 7px;
    border-top: 0.8px solid #000;
    font-weight: 500;
}

.header-nav-mobile__link.have-dropdown{
    display: flex;
    justify-content: space-between;
}

.header-nav-mobile__link-icon{
    position: relative;
}

.header-nav-mobile__link-icon i{
    transition: all 0.2s linear;
}

.header-nav-mobile__link-icon i.minus{
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    visibility: visible;
}

.header-nav-mobile__item.close-dropdown .header-nav-mobile__link-icon i.minus{
    opacity: 0;
    visibility: hidden;
}

.header-nav-mobile__item.close-dropdown .header-nav-mobile__link-icon i.plus{
    opacity: 1;
    visibility: visible;
}

.header-nav-mobile__link-icon i.plus{
    opacity: 0;
    visibility: hidden;
}

.header-nav-mobile__item .dropdown{
    margin-top: 14px;
    padding: 0 21px;
    background-color: #000;
    border-radius: 10px;
    display: block;  
    overflow: hidden;
    max-height: 600px;
    opacity: 1;
    transform-origin: center top;
    transition: all 0.4s linear;
}

.header-nav-mobile__item.close-dropdown .dropdown{
    max-height: 0;
    margin: 0;
    opacity: 0;
    background-color: transparent;
} 

.header-nav-mobile__item .dropdown__list{
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 1px 0 1px 0;
}

.header-nav-mobile__item .dropdown__item{
    margin: 26px 0;
}

.header-nav-mobile__item .dropdown__link{
    display: block;
    font-weight: 500;
    font-size: 1.8rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

/* --------------------HERO------------------ */
.hero{
    position: relative;
    padding: 150px 30px 0;
    margin-bottom: 30px;
}

.hero-head-top{
    text-align: center;
    font-size: 2.0rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.hero-ticker{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero-ticker-side{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.6;
    padding-bottom: 4px;
}

.hero-ticker-side.rt{
    text-align: end;
}

.hero-ticker-title{
    position: relative;
    padding-top: 6.2vw;
    transform-origin: 50% 100%;
    transform: translate(0px, 0px);
    flex: 1;
    text-align: center;
}

.ticker-line{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    font-size: 6.2vw;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
}

.ticker-line__word{
    position: relative;
    display: inline-flex;
    overflow: hidden;
}

.ticker-line__char{
    position: relative;
    display: inline-block;
    font-weight: 700;
}


/* ------Media------- */
.media{
    position: relative;
    padding-top: 660px;
}

.media-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.media-container video{
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    right: -100%;
    bottom: -100%;
    top: -100%;
    left: -100%;
    object-fit: cover;
    z-index: -100;
}

.case{
    overflow: hidden;
}

.case-container{
    padding: 64px 32px;
}

.case__heading h3{
    font-size: 1.8rem;
    color: #000;
    font-weight: 500;
    align-items: center;
    max-width: 670px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4;
    text-transform: uppercase;
}

.case__heading h4{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
    line-height: 1.6;
}

.slide-item{
    padding: 0 32px;
    border-left: 1px solid #080808;
    text-decoration: none;
}

.slide-page-num{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 32px;
}

.slide-desc{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: 500;
    letter-spacing: -.01em;
    max-width: 250px;
    color: #000;
}
.slide-link-cancel{
    padding-top: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 48px;
}

.slide-link-cancel span{
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 6px;
}

.slide-img-wrap{
    padding-top: 130%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.slide-img-wrap img{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
}

.slide-img-wrap img:first-child{
    transform: translateX(10%);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.slide-img-wrap img:last-child{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition: clip-path 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.case__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5)
}

.case__footer-wrap{
    display: flex;
}

.footer-link{
    text-decoration: none;
    position: relative;
}

.link-text{
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #000;
    font-weight: 500;
    padding: 6px;
    border-radius: 50px;
    border: 1px solid #000;
    overflow: hidden;
    position: relative;
}


.link-text::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: 50% 100%;
    background-color: #ff3c31;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}



.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-left: 12px;
    border-radius: 50%;
    background-color: #ff3c31;
    border: 2px solid transparent;
    position: relative;
    overflow: hidden;
}

.footer-icon svg:last-child{
    display: block;
    width: 40%;
    height: 40%;
    position: absolute;
    transform: translate(50%, 50%);
    right: 110%;
    bottom: 110%;
}

.footer-icon svg:first-child{
    position: absolute;
    height: 40%;
    width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


@keyframes fadeOut{
    0%{
        left: 50%;
        top: 50%;
    }
    100%{
        left: 110%;
        top: 110%;
    }
}

@keyframes fadeIn{
    0%{
        right: 110%;
        bottom: 110%;
    }
    100%{
        right: 50%;
        bottom: 50%;
    }
}

.clients{
    margin-bottom: 56px;
}

.client__headding{
    font-size: 1.8rem;
    color: #000;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 56px;
    padding-top: 12px; 
}

.row-client{
    display: block;
    width: 100%;
    margin: 0 -0px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
}



.column-item{
    padding: 0 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center ;
}


.column-item img{
    display: block;
    width: 100%;
    max-width: 150px;
    max-height: 50px;
}

.footer{
    padding: 30px 30px 0px;
    background-color: #000;
    color: #fff;    
}

.footer-wrap{
    padding-bottom: 24px;
    border-bottom: 1px solid #e3dfdf;
}

.link-to-top{
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

.footer-credit{
    font-size: 1.8rem;
    line-height: 1.8;
}

.footer-credit a{
    display: inline-flex;    
    text-decoration: none;
    font-size: 2.2rem;
    font-weight: 600;
    color: #ccc;
    margin-top: 20px;
    position: relative;     
}

.footer-credit a::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: calc(100% + 2px);
    transform-origin: right center;
    transform: scaleX(0);
    transition: transform 0.2s linear;
    background-color: #fff;
}



.time-country{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.time{
    font-size: 2.8rem;
    font-weight: 700;;
}

.time-seperate{
    animation: activeTime 01s linear infinite forwards;
}

@keyframes activeTime{
    0%{
        opacity: 0;
    }

    80%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.footer-social{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-item{
    margin-bottom: 12px;
}

.social-item i{
    font-size: 2rem;
}

.footer-copyright a{
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    text-align: center;
    padding: 12px;
    color: rgba(255,255,255,.4)
}


